[Desktop Entry]
Encoding=UTF-8
Name=VALUTO
Comment=VALUTO P2P Cryptocurrency
Exec=valuto-qt %u
Terminal=false
Type=Application
Icon=valuto128
MimeType=x-scheme-handler/valuto;
Categories=Office;Finance;
Name[ru]=valuto-qt.desktop.desktop
